*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lobster Two', cursive;
}

body {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-header {
  font-size: 5rem;
  color: #ff9f1c;
  margin-bottom: 6rem;
  font-weight: 700;
}

.tertiary-header {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.paragraph {
  font-size: 1.8rem;
  letter-spacing: 3px;
  padding: 2rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.35);
}

.icon-plus {
  height: 2.5rem;
  width: 2.5rem;
  fill: #001219;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon-minus {
  height: 2.5rem;
  width: 2.5rem;
  fill: #001219;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.show-text .icon-minus {
  display: inline;
}

.show-text .icon-plus {
  display: none;
}

.btn {
  border: transparent;
  background-color: transparent;
}

.container {
  height: 100%;
  width: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-box > * {
  margin: 5rem 0;
}

.question-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5rem;
}

.show-text {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.question {
  background-color: #fad2e1;
  padding: 2rem;
}

.question-text {
  height: 0;
  overflow: hidden;
}

.show-text .question-text {
  height: 100%;
  overflow: visible;
}
