.primary-header{
    font-size: 5rem;
    color: #ff9f1c;
    margin-bottom: 6rem;
    font-weight: 700;
}

.tertiary-header{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.paragraph{
    font-size: 1.8rem;
    letter-spacing: 3px;
    padding: 2rem 0;
    border-top: 2px solid rgba(black,.35);
}